.caixa-form{
background-color: #706c6c;
padding: 50px 50px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.caixa-form h2{
    color: aqua;
    margin-bottom: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.campo input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #32b9cd;
    color: black;
}

.campo label{
    color: #fff;
    margin: 15px ;
}

.caixa-form button{
    margin-top: 10px;
    width: 120px;
    color: #fff;
    background-color: #e6005a;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.caixa-form button:hover{
    opacity: 0.8;
}